:root {
    --font-family-main: "Consolas", "Times New Roman", serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Sizes

    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 120px;

    // z-index

    --modal-z-index: 10;

    // colors

    --overlay-color: rgba(0, 0, 0, 0.604);
    --red-ligth: rgb(255, 4, 4);
    --red-dark: rgb(201, 9, 9);

    // materialui
    --mui-palette-red-ligth: rgb(255, 4, 4);

}
