/* stylelint-disable scss/double-slash-comment-empty-line-before */
/* stylelint-disable scss/double-slash-comment-whitespace-inside */
.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--bg-color);
    transition: 0.4s transform;
    transform: scale(0.01);
}

.opened {
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.01);
    }
}
