.Button {
    cursor: pointer;
    padding: 6px 15px;

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.clear,
.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.outline_red {
    border: 2px solid var(--red-ligth);
    color: var(--red-ligth);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.disabled {
    opacity: 0.5;
}

.square {
    padding: 0;
}

.square.size_m {
    min-width: var(--font-line-m);
    min-height: var(--font-line-m);
}

.square.size_l {
    min-width: var(--font-line-l);
    min-height: var(--font-line-l);
}

.square.size_xl {
    min-width: var(--font-line-xl);
    min-height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}
