.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.toggleWrap {
    display: flex;
    justify-content: end;
}

.toggleBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
}

.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200px;
    }

    .lang {
        margin: 0;
    }
}
