.linkWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.link {
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color);
    margin-right: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        width: 0;
        height: 0;
        opacity: 0;
        transition: 0.2s opacity;
    }

    .icon {
        margin-right: 0;
    }
}
