.app_dark_theme {
    --bg-color: rgb(1 1 54);
    --inverted-bg-color: rgb(175 175 175);
    --primary-color: rgb(77 234 4);
    --secondary-color: rgb(7 116 1);
    --inverted-primary-color: rgb(7 4 187);
    --inverted-secondary-color: rgb(0 119 217);

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;
}
