.app_light_theme {
    --bg-color: rgb(204 203 203);
    --inverted-bg-color: rgb(2 2 67);
    --primary-color: rgb(7 4 187);
    --secondary-color: rgb(0 119 217);
    --inverted-primary-color: rgb(77 234 4);
    --inverted-secondary-color: rgb(7 116 1);

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
