.app_orange_theme {
    --bg-color: #e6b056;
    --inverted-bg-color: #fbf8f4;
    --primary-color: #c22113;
    --secondary-color: #df392a;
    --inverted-primary-color: #c22113;
    --inverted-secondary-color: #df392a;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
