.AppLink {
    color: var(--primary-color);

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--primary-color);
}

.inverted-primary {
    color: var(--inverted-primary-color);
}

.inverted-secondary {
    color: var(--inverted-secondary-color);
}
